.App {

  background-color: #0E0035;
  color: #DCFAF3;
  /* scroll-snap-type: y, mandatory; */

}
h1{
  margin-left: 5%;
  color: #DCFAF3;
  text-align: left;

}
a{
  color: black;
}
a:visited{
  color: black;
}
.name{
  font-size: 48pt;
  text-align: center;
  /*font-family: */
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.title{
padding-top: 15%;
color: #DCFAF3;
margin: 0 auto;
}

.job{
  display: block;
  background-color: rgb(244, 244, 244, .7);
  margin: 1%;
  padding: 1%;
  width:70%;
  margin-left: 15%;
}

.school{
  text-align: left;
  width: 40%;
  min-width: 400px;
  margin:1%;
  display: inline-block;
  padding: 1%;
  top:0;
  vertical-align: top;

}

.list{
  border-style: solid;
  border-color: #DCFAF3;
  height: 70vh;
  line-height: 2em;
  padding-top: 3%;
}
.block{
  height: 100vh;
  /* scroll-snap-align: start; */
  text-align: center;

}
#qual{
padding-top: 10%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#particles canvas{
  position: absolute;
  width: 100%;
  height: 100vh;
}

.location-tag{
position: fixed;
bottom: 0;
text-align: left;
color: white;
}
.landing-page{
 height: 100vh;
 text-align: center;
}
.App-link {
  color: #61dafb;
}
img{
  width:50px;
}
.links{
  width:100%;
  position: absolute;
  text-align: right;
  padding-top: 2%;
  margin-right:5%;
  bottom: top;
  vertical-align: top;
  z-index: 2;

}

.scroll{
  scroll-snap-align: start;
  top:0;
}
span{
  color: #8eead1;
}
.about{
  top:0;
  vertical-align: middle;
  width:40%;
  text-align: left;
  line-height: 2em;
  padding-top: 3%;
  display: inline-block;
  align-content: left;
  margin-right: 10%;

}
.personalPic{
  border-style: solid;
  border-color: none;
  border-radius: 100%;
  width: 15%;
  display: inline-block;
  top:0;
  vertical-align: middle;
 
}
.aboutPage{
  /* text-align: left; */
 margin-top: 15%;
 /* margin-left: 3%; */
  height:60%;
}