.App {

  background-color: #0E0035;
  color: #DCFAF3;
  /* scroll-snap-type: y, mandatory; */

}
h1{
  margin-left: 5%;
  color: #DCFAF3;
  text-align: left;

}
a{
  color: black;
}
a:visited{
  color: black;
}
.name{
  font-size: 48pt;
  text-align: center;
  /*font-family: */
}

.title{
padding-top: 15%;
color: #DCFAF3;
margin: 0 auto;
}

.job{
  text-align: left;
  border-bottom-style: solid;
  border-width: thin;
  border-bottom-color:#DCFAF3;
  width: 60%;
  margin-left: 20%;
  padding-bottom: 2%;
}
.jobList{
  line-height: 2em;
}
h3{
  font-size: 10pt;
  margin: 0 auto;
}
.school{
  text-align: left;
  width: 40%;
  min-width: 400px;
  margin:1%;
  display: inline-block;
  padding: 1%;
  top:0;
  vertical-align: top;

}

.list{
  border-style: solid;
  border-color: #DCFAF3;
  height: 70vh;
  line-height: 2em;
  padding-top: 3%;
}
.block{
  min-height: 100vh;
  /* scroll-snap-align: start; */
  text-align: center;

}
#qual{
padding-top: 10%;
}


#particles canvas{
  position: absolute;
  width: 100%;
  height: 100vh;
}


.landing-page{
 height: 100vh;
 text-align: center;
}

img{
  width:50px;
}
.links{
  width:100%;
  position: absolute;
  text-align: right;
  padding-top: 2%;
  margin-right:5%;
  bottom: top;
  vertical-align: top;
  z-index: 2;

}

.scroll{
  scroll-snap-align: start;
  top:0;
}
span{
  color: #8eead1;
}
.about{
  top:0;
  vertical-align: middle;
  width:40%;
  text-align: left;
  line-height: 2em;
  padding-top: 3%;
  display: inline-block;
  align-content: left;
  margin-right: 10%;

}
.personalPic{
  border-style: solid;
  border-color: none;
  border-radius: 100%;
  width: 15%;
  display: inline-block;
  top:0;
  vertical-align: middle;
 
}
.aboutPage{
  /* text-align: left; */
 margin-top: 15%;
 /* margin-left: 3%; */
  height:60%;
}
.project{
  width:70%;
  margin:5%;
}
.projectDesc{
  margin-top:10%;
  
  text-align: left;
  position:absolute;

}
.projectBlurb{
  width:40%;
  padding:2%;
  background-color: #382C5A;
  z-index: 10;
}
.projectList{
  text-align: left;
  line-height: 2em;
  background-color: #0E0035;
  width:20%;
}
.projectPic{
  width: 50%;
  position: absolute;
  margin-top: 4%;
  margin-right: 30%;
}